@import 'test2_slider_one';
@import 'test2_slider_two';
@import 'test2_bottom';
@import 'test2_footer';

$color-orange: #ff5816;
$color-blue: #4673ab;
$color-black: #040d0d;
$color-white: #fff;

body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
	}

	img {
		display: block;
	}
}

.up-nav {
	background-color: #000;
	width: 100%;

	.content {
		width: 1140px;
		margin: 0px auto;

		.up-navigation {
			padding-left: 0;
			padding-right: 0;
			margin: 0;

			li {
				display: inline-block;
				border-right: 1px dotted #474646;
				margin: 0px;
				height: 13px;
				padding: 10px 26px 12px 20px;

				&:first-of-type {
					padding: 10px 22px 12px 0;
				}

				&:last-of-type {
					padding: 10px 0 12px 20px;
				}

				a {
					color: #bdc3c5;
					font-family: "Roboto";
					font-size: 13px;
					font-weight: 300;
					float: left;
					margin: 0px;
				}

				.triagle {
					width: 9px;
					height: 8px;
					margin-left: 8px;
					padding-top: 6px;
				}
			}
		}
	}
}

.top {
	width: 1140px;
	margin: 0px auto;
	border: 1px solid $color-white;
	padding-top: 5px;

	.region {
		height: 13px;
		color: #323232;
		font-family: "Roboto";
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
		margin-right: 860px;

		a {
			color: $color-blue;
			border-bottom: 1px dotted $color-blue;
		}
	}

	.go {
		height: 14px;
		color: $color-blue;
		font-family: "Roboto";
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
		text-decoration: underline;
	}

	.in {
		margin-right: 15px;
	}
}

.top-block {
	padding-top: 0px;
	width: 1140px;
	margin: 0px auto;
	border: 1px solid $color-white;
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.logo {
	width: 198px;
	height: 63px;
	padding-top: 12px;
}

.call {
	padding-top: 2px;
	position: relative;
	left: 26px;

	img {
		width: 112px;
		height: 57px;
	}

	.call-back {
		position: absolute;
		top: 17px;
		left: 20px;
		color: $color-blue;
		font-family: "Roboto";
		font-size: 12px;
		font-weight: 400;
		text-decoration: underline;
		text-align: center;
	}
}

.number {
	position: relative;
	left: 10px;
	padding-top: 3px;

	a {
		color: $color-blue;
		font-family: "Roboto";
		font-weight: 300;
		text-decoration: underline;
		font-size: 13px;
	}

	.line-one {
		color: $color-black;
		font-family: "Roboto-Medium";
		font-size: 22px;
		font-weight: 400;
		line-height: 20px;
		margin: 0 0 7px 0;
	}

	.line-two,
	.line-three {
		color: $color-black;
		font-family: "Roboto";
		font-size: 13px;
		font-weight: 300;
		line-height: 15px;
		margin: 0;
		letter-spacing: 0.25px;

		img {
			width: 16px;
			height: 18px;
			display: inline-block;
			position: relative;
			top: 5px;
			left: 3px;
		}

		span {
			margin-left: 10px;
		}
	}
}

.search {
	position: relative;
	width: 300px;
	left: 50px;

	.button {
		width: 58px;
		height: 26px;
		color: $color-white;
		border-radius: 3px;
		background-color: $color-orange;
		border: none;
		position: absolute;
		left: 167px;
		top: 53px;
	}

	.input {
		width: 228px;
		height: 30px;
		border-radius: 4px;
		background-color: #eff0f4;
		border: none;
		color: #7f8486;
		font-family: Roboto;
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
		padding-left: 13px;
	}

	.wrap-voip {
		line-height: 18px;
		overflow-y: hidden;
		margin-top: 3px;
		margin-bottom: 12px;

		img {
			float: left;
			padding-top: 7px;
			margin-right: 5px;
		}

		.orange {
			color: $color-orange;
			font-family: "Roboto";
			font-style: italic;
			letter-spacing: 0.25px;
			font-size: 18px;
			font-weight: 700;
		}

		.black {
			font-family: "Roboto";
			font-weight: 400;
			color: $color-black;
			font-size: 16px;
		}
	}
}

.basket {
	padding-top: 10px;
	position: relative;

	.Layer-basket {
		margin-bottom: 7px;
	}

	.forma-basket {
		position: absolute;
		top: 27px;
		left: 17px;
	}

	.basket-text {
		position: absolute;
		top: 18px;
		left: 58px;
		width: 80px;

		.basket-line {
			color: $color-black;
			font-family: "Roboto";
			font-size: 13px;
			font-weight: 1000;
			line-height: 18px;
		}

		.sum {
			font-family: "Roboto";
			font-weight: 300;
			font-size: 13px;
		}
	}
}

.favorites {
	display: inline-block;
	color: #363c3e;
	font-family: "Roboto";
	font-size: 11px;
	font-weight: 300;
	line-height: 18px;
	margin-right: 7px;
	border-bottom: 1px dotted #363c3e;

	img {
		float: left;
		margin-right: 5px;
	}

	span {
		color: $color-blue;
		font-family: "Roboto";
		font-size: 13px;
		font-weight: 300;
		line-height: 16px;
		margin-left: 6px;
	}
}

.bottom-nav {
	width: 1140px;
	box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
	border-radius: 10px;
	background-color: $color-orange;
	margin: 0 auto;

	ul {
		display: -webkit-flex;
		display: flex;
		padding: 0 0 0 12px;

		li {
			padding: 5px 7px 0 7px;
			border-right: 1px solid $color-white;
			min-height: 43px;
			line-height: 16px;
		}

			li:last-child {
				padding: 5px 17px 0 7px;
				position: relative;
			}

			li:hover {
				background-color: #fc7844;
			}

		a {
			color: $color-white;
			font-family: "Roboto";
			font-size: 12px;
			font-weight: 300;
		}

		.img-bottom-nav {
			position: absolute;
			left: 118px;
			top: 0px;
		}

		.img-bottom-right {
			position: absolute;
			top: 20px;
			left: 125px;
		}
	}
}

/* новости*/
.news-slides {
	width: 1140px;
	margin: 0px auto;
	display: flex;

	.news-block {
		width: 264px;
		border: 1px solid $color-white;
		display: inline-block;

		h3 {
			color: #2c3333;
			font-family: "Roboto-Regular";
			font-size: 22px;
			font-weight: 600;
			line-height: 50px;
			letter-spacing: -0.4px;
			margin: 0;
		}

		hr {
			margin: 0 0 10px 0;
		}
	}

	.news {
		border-bottom: 1px dotted grey;
		position: relative;
		padding-right: 5px;
		min-height: 105px;

		img {
			float: left;
			margin: 5px 15px 0 0;
		}
	}

	.text {
		margin-left: 75px;
		margin-top: 15px;
		width: 176px;

		a {
			color: $color-blue;
			font-family: "Roboto-Medium";
			font-size: 13px;
			font-weight: 500;
			line-height: 18px;
			margin-bottom: 0;
			margin-top: 0;
		}

			a:hover {
				color: $color-orange;
			}

		p {
			font-size: 13px;
			line-height: 18px;
			color: $color-black;
			font-family: "Roboto";
			font-weight: 300;
			margin-top: 0;
		}
	}

	.rounded {
		position: absolute;
		top: 45px;
		left: 10px;
	}

	.one {
		margin-top: 25px;
	}

	.data {
		color: $color-orange;
		font-family: "Roboto-Medium";
		font-size: 20px;
		font-weight: 600;
		line-height: 20px;
		position: absolute;
		top: 55px;
		left: 15px;
	}

	.month {
		color: $color-black;
		font-family: "Roboto";
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
		position: absolute;
		top: 75px;
		left: 0;
	}

	.news-bottom {
		padding-top: 13px;

		a {
			min-height: 30px;
			color: $color-blue;
			font-family: "Roboto";
			font-size: 13px;
			font-weight: 300;
			line-height: 20px;
			text-decoration: underline;
		}
	}
}

@font-face {
	font-family: 'Roboto';
	src: url(font/Roboto-Light.ttf);
	src: url(font/Roboto-Light.eot);
	src: url(font/Roboto-Light.otf);
	src: url(font/Roboto-Light.svg);
	src: url(font/Roboto-Light.woff);

}

@font-face {
	font-family: 'Roboto-Medium';
	src: url(font/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url(font/Roboto-Thin.ttf);
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url(font/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url(font/Roboto-Bold.ttf);
}
