@charset "UTF-8";
/*╤А╨╡╨║╨╗╨░╨╝╨░*/
.advertising {
  width: 846px;
  min-height: 48px;
  margin-left: 25px;
  margin-top: 2px;
  background-color: #e3e5eb;
  border-radius: 10px;
  color: #131a1a;
  font-size: 16px;
}
.advertising strong {
  font-family: "Roboto-Medium";
  font-weight: 900;
  line-height: 48px;
  margin-left: 40px;
}
.advertising i {
  font-family: "Roboto";
  font-weight: 600;
  line-height: 48px;
}
.advertising span {
  color: #4673ab;
  font-family: "Roboto-Medium";
  font-weight: 800;
  line-height: 48px;
}

/*╤Б╨╗╨░╨╣╨┤╨╡╤А*/
.wrap {
  width: 846px;
  height: 368px;
  border-radius: 10px;
  margin: 33px 0 0 29px;
  position: relative;
}
.wrap input {
  display: none;
}

.slider {
  background-color: #fff;
  height: inherit;
  overflow: hidden;
  position: relative;
  width: inherit;
  border-radius: 10px;
}
.slider .slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
}
.slider .img1 {
  background-image: url(image/Layer1.png);
}
.slider .img2 {
  background-color: red;
}
.slider .img3 {
  background-color: pink;
}
.slider .img4 {
  background-color: blue;
}
.slider .img5 {
  background-color: grey;
}

.wrap .control {
  position: absolute;
  left: 739px;
  top: 332px;
  z-index: 10;
}
.control label {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  position: relative;
  border-radius: 4px;
  background: #fff;
}
.control label:after {
  position: absolute;
  content: " ";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 4px;
}

#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3),
#point4:checked ~ .control label:nth-of-type(4),
#point5:checked ~ .control label:nth-of-type(5) {
  background: #ff5816;
}

#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3,
#point4:checked ~ .slider > .img4,
#point5:checked ~ .slider > .img5 {
  opacity: 1;
  z-index: 1;
}

.left,
.right {
  position: absolute;
  width: 16px;
  height: 44px;
  cursor: pointer;
}
.right {
  background: url(image/next.png);
  top: 160px;
  left: 810px;
}
.left {
  background: url(image/prev.png);
  top: 160px;
  left: 20px;
}
/*╤В╨╡╨║╤Б╤В ╨▓ ╤Б╨╗╨░╨╣╨┤╨╡╤А╨╡*/
.img1 p {
  color: #ff5816;
  font-family: "Roboto-Medium";
  font-size: 31px;
  font-weight: 500;
  line-height: 38px;
  margin: 40px 0 0 63px;
}
.img1 span {
  margin: 7px 0 0 63px;
}
.img1 .vks {
  color: #fff;
  font-family: "Roboto";
  font-size: 29px;
  font-weight: 300;
  line-height: 34px;
}
.img1 .gvc {
  font-style: italic;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 26px;
  font-size: 18px;
  color: #fff;
  margin-top: 0px;
}
.img1 ul {
  list-style: url(image/disc.png);
  color: #fff;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  line-height: 26px;
  margin: 33px 0 0 37px;
  letter-spacing: 0.1px;
}
.img1 .buttom {
  width: 154px;
  height: 40px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 7px;
  background-color: #fff;
  margin: 30px 0 0 65px;
  text-align: center;
}
.img1 .buttom a {
  color: #4673ab;
  font-family: "Roboto-Medium";
  font-size: 15px;
  font-weight: 900;
  line-height: 40px;
}

/*╨╜╨╛╨▓╨╕╨╜╨║╨╕*/
.new {
  width: 1140px;
  margin: 0 auto;
  border: 1px solid #fff;
  position: relative;
  padding: 0;
}
.new .new-p {
  color: #040d0d;
  font-family: "Roboto-Medium";
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 50px;
}
.new hr {
  width: 920px;
  color: dimgray;
  position: absolute;
  top: 50px;
  left: 130px;
}
.new .new-link-one {
  color: #4673ab;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: underline;
  position: absolute;
  top: 45px;
  left: 1063px;
}
.new .next1, .new .prev1 {
  position: absolute;
  top: 275px;
  width: 16px;
  height: 44px;
  cursor: pointer;
  border: none;
}
.next1, .next, .next3, .next4 {
  background: url(image/prev.png);
}
.prev1, .prev, .prev3, .prev4 {
  background: url(image/next.png);
  left: 1123px;
}
.gallery1 {
  border: 1px solid #fff;
  margin: 0 23px 0 43px;
}
.new .gallery1 > ul {
  margin-top: 20px;
}
.goods {
  width: 233px;
  min-height: 388px;
  border-radius: 10px;
  border: 1px solid #dbdee6;
  background-color: #fff;
  margin: 15px;
  position: relative;
}
.goods:hover {
  border: 1px solid #ff5e1e;
}
.new .img-new {
  position: absolute;
  left: 10px;
  top: -3px;
}
.new .green-label {
  color: #fff;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 8px;
  left: 14px;
}
.img-goods-one {
  margin: 32px 36px 33px 43px;
}
.img-goods-two {
  margin: 36px 69px 25px 74px;
}
.img-goods-three {
  margin: 39px 28px 0 33px;
}
.img-goods-four {
  margin: 53px 21px 0 18px;
}
.text-new {
  border: 1px solid #fff;
  margin: 20px 15px 0 20px;
}
.text-new .ip {
  color: #4673ab;
  font-family: "Roboto-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
}
.text-new .ip:hover {
  color: #ff5816;
}
.text-new p {
  color: #1a2222;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  margin-top: 20px;
  text-transform: none;
}
.text-new p .cost {
  font-family: "Roboto-Medium";
  font-size: 20px;
  font-weight: 600;
}
.text-new p .no-cost {
  color: #ff5816;
  font-family: "Roboto";
  font-weight: 300;
  text-decoration: line-through;
}
.text-new button {
  width: 114px;
  height: 40px;
  box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
  border-radius: 7px;
  background-color: #ff5e1e;
  color: #fff;
  font-family: "Roboto-Medium";
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 8px;
}
.text-new button:hover {
  background-color: #4673ab;
  cursor: pointer;
}
.text-new img {
  position: relative;
  top: 3px;
  left: 8px;
  float: left;
  margin-right: 7px;
}
.details {
  color: #4673ab;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: underline;
}
