body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.content {
    width: 1140px;
    margin: 0px auto;    
}
.up-nav {
    background-color: #000;
    width: 100%;
}
.up-navigation {
    padding-left:0;
    padding-right:0;
    margin:0;  
}
.first-li, .next-li {
    display: inline-block;
    border-right: 1px dotted #474646;
    margin: 0px;
    height: 13px;
}
.up-navigation>li>a {
    color: #bdc3c5;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    float: left;
    margin: 0px;  
}
.triagle{
    width: 9px;
    height: 8px;
    margin-left: 8px;
    padding-top: 6px;
}
.next-li {padding: 0 26px 0 20px;}
.first-li {padding: 0 22px 0 0;}
.end-li{
    padding: 0 0 0 22px;
    display: inline-block;
    margin: 0px;
    height: 13px;
}
.up-navigation>li{
    padding-top: 10px;
    padding-bottom: 12px;
}
.top {
    width: 1140px;
    margin: 0px auto;
    border: 1px solid #fff;
    padding-top: 5px;
}
.region {
    height: 13px;
    color: #323232;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-right:860px;
}
.region>a {
    color: #4673ab;
    border-bottom: 1px dotted #4673ab;   
}
.go {
    height: 14px;
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
}
.in {margin-right: 15px;}
.top-block{
    padding-top: 0px;
    width: 1140px;
    margin: 0px auto;
    border: 1px solid #fff;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
}
.logo {
    width: 198px;
    height: 63px;
    padding-top: 12px;
    margin-right: 62px;
}
.shape {
    width: 112px;
    height: 57px;
}
.call {
    margin-right: 17px;
    padding-top: 2px;
    position: relative;
}
.call-back {
    position: absolute;
    top: 17px;
    left: 20px;
    color: #4673ab;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    text-decoration: underline;
    text-align: center;
}
.number{
   margin-right: 75px;
}
.line-one{
    color: #040d0d;
    font-family: "Roboto-Medium";
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 7px 0;
    letter-spacing: 0.45px;   
}
.line-two, .line-three{
    color: #040d0d;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    margin: 0;
    letter-spacing: 0.25px;   
}
.line-three>img {
    width: 16px;
    height: 18px;
    display: inline-block;
    position: relative;
    top: 5px;
    left: 3px;
}
.line-three>span {
    margin-left: 10px;
}
.number>a {
    color: #4673ab;
    font-family: "Roboto";
    font-weight: 300;
    text-decoration: underline;
    font-size: 13px; 
}
.wrap-voip {
    line-height: 18px;
    overflow-y: hidden;
    margin-top: 3px;
    margin-bottom: 12px;
}
.orange{
    color: #ff5816;
    font-family: "Roboto";
    font-style: italic;
    letter-spacing: 0.25px;
    font-size: 18px;
    font-weight: 700;
}
.black {
    font-family: "Roboto";
    font-weight: 400;
    color: #040d0d;
    font-size: 16px; 
}
.rub{
    float: left;
    padding-top: 7px;
    margin-right: 5px;
}
.button{
    width: 58px;
    height: 26px;
    color: #fff;
    border-radius: 3px;
    background-color: #ff5816;
    border: none;
    position: relative;
    left: -65px;
}
.input{
    width: 228px;
    height: 30px;
    border-radius: 4px;
    background-color: #eff0f4;
    border: none;
    color: #7f8486;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 13px;
}
.basket {
    padding-top: 10px;
    position: relative;
}
.Layer-basket{
    margin-bottom: 7px;
}
.forma-basket {
    position: absolute;
    top: 27px;
    left: 17px;
}
.basket-text{
    position: absolute;
    top: 18px;
    left: 58px;
    width: 80px;
}
.basket-line {
    color: #040d0d;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 1000;
    line-height: 18px;  
}
.sum {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 13px;
}
.count {
    color: #4673ab;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
    margin-right: 5px;
}
.favorites{
    display: inline-block;
    color: #363c3e;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    margin-right: 7px;
    border-bottom: 1px dotted #363c3e;
}
.favorites>img {
    float: left;
    margin-right: 5px;
}
.favorites>span {
    color: #4673ab;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    margin-left: 6px;
}
.bottom-nav {
    width: 1140px;
    box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
    border-radius: 10px;
    background-color: #ff5816;
    margin: 0 auto;
}
.nav-bottom {
    display: -webkit-flex;
    display: flex;
    padding: 0 0 0 12px;
}
.nav-list {
    padding: 5px 7px 0 7px;
    border-right: 1px solid #fff;
    min-height: 43px;
    line-height: 16px;
}
.nav-bottom>li>a {
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300; 
}
.end-nav-list {
    padding: 5px 17px 0 7px;
    min-height: 43px;
    line-height: 16px;
    position: relative;  
}
.img-bottom-nav {
    position: absolute;
    left: 118px; 
    top: 0px; 
}
.img-bottom-right {
    position: absolute;
    top: 20px;
    left: 125px;
}
.nav-bottom>li:hover {
    background-color: #fc7844;
}
/* новости*/
.news-slides {
    width: 1140px;
    margin: 0px auto;
    display: flex;
}
.news-block {
    width: 264px;
    border: 1px solid #fff;
    display: inline-block;
}
.news-block>h3 {
    color: #2c3333;
    font-family: "Roboto-Regular";
    font-size: 22px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.4px;
    margin: 0;
}
.news-block>hr {
    margin: 0 0 10px 0;
}
.news {
    border-bottom: 1px dotted grey;
    position: relative;
    padding-right: 5px;
    min-height: 105px;
}
.news>img {
    float: left;
    margin: 5px 15px 0 0;
}
.text {
    margin-left: 75px;
    margin-top: 15px;
    width: 176px; 
}
.text>a {
    color: #4673ab;
    font-family: "Roboto-Medium";
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}
.text>p {
    font-size: 13px;
    line-height: 18px;
    color: #040d0d;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 0; 
}
.rounded {
    position: absolute;
    top: 45px;
    left: 10px;
}
.one{margin-top: 25px;}
.data {
    color: #ff5816;
    font-family: "Roboto-Medium";
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    position: absolute;
    top: 55px;
    left: 15px;
}
.month {
    color: #040d0d;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    position: absolute;
    top: 75px;
    left: 0;
}
.news-bottom {padding-top: 13px;}
.news-bottom>a {
    min-height: 30px;
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
}
.text>a:hover {
    color: #ff5816;
}
/*реклама*/
.advertising {
    width: 846px;
    min-height: 48px;
    margin-left: 25px;
    margin-top: 2px;
    background-color: #e3e5eb;
    border-radius: 10px;
    color: #131a1a;
    font-size: 16px;  
}
.advertising>b {
    font-family: "Roboto-Medium";
    font-weight: 900;
    line-height: 48px;
    margin-left: 40px;
}
.advertising>i {
    font-family: "Roboto";
    font-weight: 600;
    line-height: 48px;
}
.advertising>span {
    color: #4673ab;
    font-family: "Roboto-Medium";
    font-weight: 800;
    line-height: 48px;  
}
/*слайдер*/
.wrap{
    width: 846px;
    height: 368px;
    border-radius: 10px;
    margin: 33px 0 0 29px;
    position: relative;
}
.wrap>input {display:none;}
.slider {
 background-color: #333;
 height: inherit;
 overflow: hidden;
 position: relative;
 width: inherit;
}
.slides {
 height: inherit;
 opacity: 0;
 position: absolute;
 width: inherit;
 z-index: 0;
}
.slider {
 height: inherit;
 overflow: hidden;
 position: relative;
 width: inherit;
}
.slides {
 height: inherit;
 opacity: 0;
 position: absolute;
 width: inherit;
 z-index: 0;
}
.img1 {background-image: url(image/Layer1.png);}
.img2 {background-color: red; }
.img3 {background-color: pink; }
.img4 {background-color: blue; }
.img5 {background-color: grey; }
.wrap .control {
    position: absolute;
    left: 739px;
    top: 332px;
    z-index: 10;
}
.control label {
     cursor: pointer;
     display: inline-block;
     height: 15px;
     width: 15px;
     position: relative;
     border-radius: 4px;
     background: #fff;
}
.control label:after {
     position: absolute;
     content: " ";
     display: block;
     height: 15px;
     width: 15px;
     border-radius: 4px;  
}
#point1:checked ~ .control label:nth-of-type(1),
#point2:checked ~ .control label:nth-of-type(2),
#point3:checked ~ .control label:nth-of-type(3), 
#point4:checked ~ .control label:nth-of-type(4), 
#point5:checked ~ .control label:nth-of-type(5) {
 background: #ff5816;
}
#point1:checked ~ .slider > .img1,
#point2:checked ~ .slider > .img2,
#point3:checked ~ .slider > .img3,
#point4:checked ~ .slider > .img4,
#point5:checked ~ .slider > .img5{
 opacity: 1;
 z-index: 1;
}
.left, .right {
    position: absolute;
    width: 16px;
    height: 44px;
    cursor: pointer;
}
.right {
    background: url(image/next.png);
    top: 160px;
    left: 810px;
}
.left {
    background: url(image/prev.png);
    top: 160px;
    left: 20px;
}
/*текст в слайдере*/
.img1>p {
    color: #ff5816;
    font-family: "Roboto-Medium";
    font-size: 31px;
    font-weight: 500;
    line-height: 38px;
    margin:40px 0 0 63px;
}
.img1>span{margin: 7px 0 0 63px;}
.vks {
    color: #fff;
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 300;
    line-height: 34px;
}
.gvc {
    font-style: italic;
    font-family: "Roboto";
    font-weight: 300;
    line-height: 26px;
    font-size: 18px;
    color: #fff;
    margin-top: 0px;
}
.img1>ul {
    list-style: url(image/disc.png);
    color: #fff;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 26px;
    margin: 33px 0 0 37px;
    letter-spacing: 0.1px;
}
.buttom {
    width: 154px;
    height: 40px;
    box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
    border-radius: 7px;
    background-color: #ffffff;
    margin: 30px 0 0 65px;
    text-align: center;
}
.buttom>a {
    color: #4673ab;
    font-family: "Roboto-Medium";
    font-size: 15px;
    font-weight: 900;
    line-height: 40px; 
}
/*новинки*/
.new {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid pink;
    position:relative;
    padding: 0;
}
.new>p {
    color: #040d0d;
    font-family: "Roboto-Medium";
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top:50px;
}
.new>hr {
    width: 920px;
    color: dimgray;
    position: absolute;
    top: 50px;
    left: 130px;
}
.new>a {
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    top: 45px;
    left: 1063px;
}
.new>input {display: none;}
.goods-left{
    background: url(image/prev.png);
}
.goods-right {
    background: url(image/next.png);
    left: 1123px;
}
.goods-left, .goods-right {
    position: absolute;
    top: 250px;
    width: 16px;
    height: 44px;
    cursor: pointer;
}
.goods {
    width: 233px;
    min-height: 388px;
    border-radius: 10px;
    border: 1px solid #dbdee6;
    background-color: #ffffff;
    margin: 15px;
    position: relative;
}
.goods:hover {border: 1px solid #ff5e1e;}
.new-goods {
    border: 1px solid black;
    display: flex;
    margin: 0 43px 0 43px;
}
.img-new {
    position: absolute;
    left: 10px;
    top: -3px;  
}
.green-label {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    text-transform: uppercase;
    position: absolute;
    top: 8px;
    left: 14px;
}

.img-goods-one {
    margin: 32px 36px 33px 43px;
}
.img-goods-two {
    margin: 36px 69px 25px 74px;
}
.img-goods-three {
    margin: 39px 28px 0 33px;
}
.img-goods-four {
    margin: 53px 21px 0 18px;
}
.ip {
    color: #4673ab;
    font-family: "Roboto-Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: underline;
}
.ip:hover {
    color: #ff5816;
}
.text-new {
    border: 1px solid #fff;
    margin: 20px 15px 0 20px;
}
.text-new>p {
    color: #1a2222;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 20px;
}
.cost {
    font-family: "Roboto-Medium";
    font-size: 20px;
    font-weight: 600;
}
.no-cost {
    color: #ff5816;
    font-family: "Roboto";
    font-weight: 300;
    text-decoration: line-through;
}
.text-new>button {
    width: 114px;
    height: 40px;
    box-shadow: inset 0 -3px 0 rgba(0, 1, 1, 0.23);
    border-radius: 7px;
    background-color: #ff5e1e;
    color: #fff;
    font-family: "Roboto-Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    margin-right: 8px;
}
.text-new>button:hover {
    background-color: #4673ab;
    cursor: pointer;
}
.forma-corf {
    position: relative;
    top: 3px;
    left: 8px;
    float: left;
    margin-right: 7px;
}
.details {
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
}
/*рекомендуем*/
.recom {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid pink;
    position:relative;
    padding: 0;
}
.recom>p {
    color: #040d0d;
    font-family: "Roboto-Medium";
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top:20px;
}
.recom>hr {
    width: 824px;
    color: dimgray;
    position: absolute;
    top: 20px;
    left: 190px;
}
.recom>a {
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    top: 15px;
    left: 1025px;
}
.recom>input {display: none;}
.goods-left-recom{
    background: url(image/prev.png);
}
.goods-right-recom {
    background: url(image/next.png);
    left: 1123px;
}
.goods-left-recom, .goods-right-recom {
    position: absolute;
    top: 250px;
    width: 16px;
    height: 44px;
    cursor: pointer;
}
.img-recom {
    position: absolute;
    left: 10px;
    top: -3px;  
}
.img-recom-ok {
    position: absolute;
    left: 18px;
    top: 7px;
}
/*распродажа*/
.sale {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid pink;
    position:relative;
    padding: 0;
}
.sale>p {
    color: #040d0d;
    font-family: "Roboto-Medium";
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top:20px;
}
.sale>hr {
    width: 881px;
    color: dimgray;
    position: absolute;
    top: 20px;
    left: 180px;
}
.sale>a {
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    top: 15px;
    left: 1070px;
}
.sale>input {display: none;}
.img-sale {
    position: absolute;
    left: 10px;
    top: -3px; 
}
.text-sale {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    left: 20px;
}
/*акции*/
.stock {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid pink;
    position:relative;
    padding: 0;
}
.stock>p {
    color: #040d0d;
    font-family: "Roboto-Medium";
    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin-top:20px;
}
.stock>hr {
    width: 969px;
    color: dimgray;
    position: absolute;
    top: 20px;
    left: 100px;
}
.stock>a {
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    top: 15px;
    left: 1075px;
}
.stock>input {display: none;}
.min-stock {
    width: 233px;
    min-height: 404px;
    border-radius: 10px;
    border: 1px solid #dbdee6;
    background-color: #ffffff;
    margin: 15px;
    position: relative;
}
.min-stock:hover {border: 1px solid #ff5e1e;}
.big-stock {
    border: 1px solid black;
    display: flex;
    margin: 0 43px 0 43px;
}
.name-stock {
    color: #4673ab;
    font-family: "Roboto-Medium";
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-decoration: underline;
    margin: 40px 0 0 20px;
}
.min-stock-text {
    color: #040d0d;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    margin: 10px 20px 15px 25px;
}
.min-stock>div {
    background-color: #dbdee6;
    width: 233px;
    min-height: 65px;
    position: relative;
}
.text-data {
    color: #1a2222;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    width: 59px;
    position: absolute;
    top: 5px;
    left: 25px;
}
.timer {
    position: absolute;
    top: 15px;
    left: 93px;
}
.min-stock>div>span {
    color: #7f8686;
    font-family: "Roboto";
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    position: relative;
    top: 40px;
    left: 95px;
    margin: 0 7px 0 5px; 
} 
.min-stock-link {
    color: #4673ab;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: underline;
    position: absolute;
    top: 367px;
    left: 95px;
}
.text-data-text {
    color: #337500;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
    position: absolute;
    top: 12px;
    left: 115px;
}







@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Light.ttf);
    src: url(font/Roboto-Light.eot);
    src: url(font/Roboto-Light.otf);
    src: url(font/Roboto-Light.svg);
    src: url(font/Roboto-Light.woff); 
    
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(font/Roboto-Medium.ttf);  
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(font/Roboto-Thin.ttf);  
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(font/Roboto-Regular.ttf);  
}























